
<app-loader *ngIf="loading"></app-loader>

<div id="content-app" *ngIf="!loading">
    <app-navbar></app-navbar>

    <div class="row" style="display: flex;justify-content: center;width: 100%;margin: 0px;background-color: white;">
        <div class="col-md-8">
            <img class="img-fluid" src="../assets/images/portada.png" alt="">
        </div>
    </div>

    <div class="d-grid gap-2 col-2 mx-auto" style="position: absolute; left: 42%;top: 92%;">

        <button class="btn btn-success btnStart" (click)="connect()">Start</button>
        
    </div>

</div>