<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-family: 'Faster One', cursive; color: #c5b613;" href="#">Cryptomillionary</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div style="margin: auto; font-size: larger;"><b>Contract: </b><span><a href="">0xE200A4A980618Be6f2077c9dC5b8822B0BB46FC8</a></span></div>
        <app-auth></app-auth>
      </div>
    </div>
  </nav>
