<div class="MyGamesSection" style="display: flex; align-items: center; justify-content: space-between;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-ms-12">
                <iframe width="100%" height="250%" frameBorder="0" class="boxFormat" scrolling="no" src="https://coinbrain.com/coins/eth-0x7d1afa7b718fb893db30a3abc0cfc608aacfebb0/ticker?theme=dark&padding=16&type=large&currency=USD&blocks=price%2CmarketCap%2Cholders%2Cliquidity"></iframe>
            </div>
            <div class="col-md-6 col-ms-12">
                <iframe width="100%" height="250%" frameBorder="0" class="boxFormat" scrolling="no" src="https://coinbrain.com/embed/trade?theme=dark&padding=16&summary=0&chainId=137&inputAddress=0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE&outputAddress=0x2791bca1f2de4661ed88a30c99a7a9449aa84174"></iframe>
            </div>
        </div>
    </div>
</div>
